<!DOCTYPE html>
<html lang="en" ng-app="ui.engineering">
  <head>
    <meta charset="UTF-8">
    <title>UI Engineering — D3 Angular components</title>
    <!-- Demo styles-->
    <link rel="stylesheet" href="app/app.css">
    <link rel="stylesheet" href="fluid-svg/fluid-svg.css">
    <link rel="stylesheet" href="configurable-svg/configurable-svg.css">
  </head>
  <body ng-cloak ng-controller="AppController as vm">
    <pre>Demo {{ vm.demo | json }}</pre>
    <ul>
      <li ng-repeat="demo in vm.demos" ng-click="vm.demo = demo"><a href>{{ demo }}</a></li>
    </ul>
    <hr>
    <div class="fluid-svg" ng-if="vm.demo == &quot;fluid-svg&quot;">
      <h2>Fluid SVG<br><small>UI Engineering</small></h2>
      <div class="demo" style="width: 100px"><small>.demo 100px</small>
        <fluid-svg></fluid-svg>
      </div>
      <div class="demo" style="width: 200px"><small>.demo 200px</small>
        <fluid-svg></fluid-svg>
      </div>
      <div class="demo"><small>.demo 100%</small>
        <fluid-svg></fluid-svg>
      </div>
    </div>
    <div class="configurable-svg" ng-if="vm.demo == &quot;configurable-svg&quot;">
      <h2>Configurable SVG<br><small>UI Engineering</small></h2>
      <div class="inputs">
        <p>The width and height below, are not the real width and height of the SVG element. They represent the aspect ratio you want it to have.<br>Nevertheless, they will determine the quantities you use for positioning stuff in it (that is, until you start using D3 scales, then it won't matter much).</p>
        <label>Width
          <input min="1" ng-model="vm.width" size="7" type="number">
        </label>
        <label>Height
          <input min="1" ng-model="vm.height" size="7" type="number">
        </label><span> Aspect ratio: <strong>{{ vm.width/vm.height | number:3 }}:1</strong></span>
        <blockquote>
          <p>What this means is: I want its <strong>width</strong> to be {{ vm.width/vm.height | number:3 }} times as it's tall.<br>It also means: I want its <strong>height</strong> to be {{ vm.height/vm.width | number:3 }} times as it's wide.</p>
        </blockquote>
        <p>Some common aspect ratio proportions (click on them):</p>
        <ul>
          <li ng-repeat="aspectRatio in vm.commonAspectRatios"><a href ng-click="vm.setAspectRatio( aspectRatio.value )">{{ aspectRatio.label }}<small> {{ aspectRatio.value }}</small></a></li>
        </ul>
        <p>Here below you'll see three instances of the <strong>configurable-svg</strong> component that react to width and height changes:</p>
      </div>
      <div class="demo" style="width: 100px; float:left"><small>.demo 100px</small>
        <configurable-svg width="vm.width" height="vm.height"></configurable-svg>
      </div>
      <div class="demo" style="width: 200px; float:left"><small>.demo 200px</small>
        <configurable-svg width="vm.width" height="vm.height"></configurable-svg>
      </div>
      <div class="demo" style="width: 400px; float:left"><small>.demo 400px</small>
        <configurable-svg width="vm.width" height="vm.height"></configurable-svg>
      </div>
    </div>
    <!-- Dependencies-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- Demo code-->
    <script src="app/app.module.js"></script>
    <script src="app/app.controller.js"></script>
    <script src="fluid-svg/fluid-svg.component.js"></script>
    <script src="configurable-svg/configurable-svg.controller.js"></script>
    <script src="configurable-svg/configurable-svg.component.js"></script>
  </body>
</html>